[submodule "src/models/tf_template"]
	path = src/models/tf_template
	url = https://github.com/crequena/earthnet-tf-template.git
[submodule "src/models/pt_template"]
	path = src/models/pt_template
	url = https://github.com/crequena/vitusbenson/earthnet-pytorch-template.git
